<div class="row" id="welcome">
  <div class="col-md-4">
    <img src="https://loremflickr.com/320/240?random=1" alt="">
  </div>
  <div class="col-md-8">
    <h2>welcome!</h2>
    <h4>here's some information that will live here</h4>
    <h4>mission statement</h4>
  </div>
</div>

<div class="row" id="nav-blocks">
  
</div>
