<body id="home_page">
  <div id="welcome-img">
  </div>
  
  <div id="welcome-text">
    <h1>Welcome!</h1>
    <br>
    <br>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
  </div>

  <div class="container" id="blocks">
    <div class="row">
      <%= link_to lessons_path do %>
        <div class="col-md-6" id="left-block">
          <h2>piano lessons</h2>
        </div>
      <% end %>
      <%= link_to music_ed_index_path do %>
        <div class="col-md-6" id="right-block">
          <h2>early music education</h2>
        </div>
      <% end %>
    </div>
  </div>

  <div id="home-block-2">
    <h1>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h1>
  </div>

  <!-- <div class="container">
    <div class="row" id="home-block-3">
      <div class="col-md-6" id="hb3-left">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
      <div class="col-md-6" id="hb3-right">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row" id="home-block-4">
      <div class="col-md-6" id="hb4-left">
      </div>
      <div class="col-md-6" id="hb4-right">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
    </div>
  </div> -->

  <div class="footer" id="welcome_footer">
    <p>copyright and maybe something else will go here</p>
  </div>
<body>
