<body id="home_page">
  <div class="container" id="welcome">
    <h1>Welcome!</h1>
    <br>
    <br>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
  </div>

  <div class="row" id="blocks">
    <div class="col-xs-6 col-md-6">
      <a href="<%= lessons_path %>" class="thumbnail">
        <h2>piano lessons</h2>
      </a>
    </div>
    <div class="col-xs-6 col-md-6">
      <a href="<%= music_ed_index_path %>" class="thumbnail">
        <h2>early music education</h2>
      </a>
    </div>
  </div>

  <div id="welcome_footer">
    <p>copywrite and maybe something else will go here</p>
  </div>
<body>
