<body id="home_page">
  <div id="welcome-img">
  </div>

  <div id="welcome-text">
    <p>michelle dolliver piano studio</p>
    <br>
    <br>
    <h2>Offering private piano lessons to beginning students of all ages near downtown Vancouver, WA</h2>
  </div>

  <div class="container" id="blocks">
    <div class="row">
      <%= link_to lessons_path do %>
        <div class="col-md-6" id="left-block">
          <h2>piano lessons</h2>
        </div>
      <% end %>
      <%= link_to contact_index_path do %>
        <div class="col-md-6" id="right-block">
          <h2>contact me</h2>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container" id="home-block-2">
    <h2>Are you interested in joining the studio?</h2>
    <h3>Feel free to call or email be to schedule an introductory lesson</h3>
    <h3>360-798-0610 | mdolliver@msn.com</h3>
  </div>

  <!-- <div class="container">
    <div class="row" id="home-block-3">
      <div class="col-md-6" id="hb3-left">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
      <div class="col-md-6" id="hb3-right">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row" id="home-block-4">
      <div class="col-md-6" id="hb4-left">
      </div>
      <div class="col-md-6" id="hb4-right">
        <h3>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
      </div>
    </div>
  </div> -->

  <div class="footer" id="welcome_footer">
    <p>&copy; Michelle Dolliver 2018</p>
  </div>
</body>
