<body id="home_page">
  <div id="container">
    <div class="container" id="welcome">
      <h1>Welcome!</h1>
      <br>
      <br>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
    </div>

    <div class="container" id="blocks">
      <div class="row">
        <%= link_to lessons_path do %>
          <div class="col-md-6" id="left-block">
            <h2>piano lessons</h2>
          </div>
        <% end %>
        <%= link_to music_ed_index_path do %>
          <div class="col-md-6" id="right-block">
            <h2>early music education</h2>
          </div>
        <% end %>
      </div>
    </div>

    <div id="welcome_footer">
      <p>copyright and maybe something else will go here</p>
    </div>
  </div>
<body>
