<body id="lessons-page">
  <div id="lessons-header">
    <h1>With more than 21 years of history, we can tell you this — experience matters because it shows.</h1>
  </div>

  <div class="container">
    <div class="row" id="lessons-block-1">
      <div class="col-md-6" id="lb1-left">
        <h3>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </h3>
        <h3>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</h3>
      </div>
      <div class="col-md-6" id="lb1-right">
        <h3>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" id="lessons-block-2">
      <div class="col-md-6" id="lb2-left">
        <h3>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</h3>
      </div>
      <div class="col-md-6" id="lb2-right">
        <h3>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </h3>
        <h3>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</h3>
      </div>
    </div>
  </div>

  <div id="lesson-block-3">
    <h1>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h1>
  </div>

  <div class="footer" id="lessons-footer">
    <p>copyright and maybe something else will go here</p>
  </div>
</body>
