<body id="about_page">
  <!-- <div id="about-header">
    <h1>About Michelle</h1>
  </div> -->
  <div class="container">
    <div class="row" id="about-body">
      <div class="col-md-3" id="about-left">
      </div>
      <div class="col-md-6" id="about-center">
      </div>
      <div class="col-md-3" id="about-right">
      </div>
    </div>
  </div>
  <div class="container" id="about-text">
    <h3>Michelle is a dedicated and enthusiastic piano teach who enjoys instilling a love of learning the art of music. She believes that music is both a creative and interpretive art. Students will learn how to express themselves through performance, composition and improvisation. They will also learn to appreciate music through age appropriate, engaging lessons in music history and theory. My goal is to provide your student with a lifelong understanding and appreciation of music.</h3>
  </div>

  <div class="footer" id="about-footer">
    <p>&copy; Michelle Dolliver 2018</p>
  </div>
</body>
