<body id="about_page">
  <div id="about-header">
    <h1>Short about featured statement</h1>
  </div>
  <div class="container" id="about-container">
    <div class="row" id="about-body">
      <div class="col-md-6" id="about-left">
      </div>
      <div class="col-md-6" id="about-right">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </h4>
        <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
      </div>
    </div>
  </div>

  <div class="footer" id="about-footer">
    <p>copyright and maybe something else will go here</p>
  </div>
</body>
