<body id="contact-page">
  <div id="contact-header">
    <h1>Get in touch</h1>
  </div>

  <div class="container">
    <div id="contact-body">
      <h2>To learn more or to schedule a trial lesson, please call or email</h2>
      <h3>360-852-5516 | mdolliver@msn.com</h3>
    </div>
  </div>

  <div class="footer" id="contact-footer">
    <p>&copy; Michelle Dolliver 2018</p>
  </div>
</body>
