<body id="contact-page">
  <div id="contact-header">
    <h1>Get in touch</h1>
  </div>

  <div class="container">
    <div class="row" id="contact-block-1">
      <div class="col-md-6" id="cb1-left">
      </div>
      <div class="col-md-6" id="cb1-right">
        <h3>fill out a contact form?</h3>
      </div>
    </div>
  </div>

  <div class="footer" id="contact-footer">
    <p>copyright and maybe something else will go here</p>
  </div>
</body>
