#about-body {
  height: 400px;
}

#about-header {
  height: 300px;
  padding: 100px;
  h1 {
  }
}
// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks
// #2a3033 dark grey
// #f5996d orange
// #65b8cd blue
// #b5a2be purple
// #d98dac pink

#about-left {
  height: 300px;
}

#about-center {
  background-image: url(asset_path('horowitz'));
  background-size: cover;
  height: 300px;
}

#about-right {
  height: 300px;
}

#about-text {
  height: 400px;
  background-color: #a2d5da;
  padding: 50px;
  h3 {
    color: #292f33;
  }
}

#box-inside-1, #box-inside-2 {
  border: 1px solid #b34035;
  margin-top: 25px;
  height: 250px;
}

#about-footer {
  border-top: 1px solid #b34035;
  padding: 20px;
  margin-top: 20px;
  p {
    color: #292f33;
  }
}
