#about_page .header {
  margin-left: 100px;
}

#about {
  img {
    width: 400px;
  }
  padding-top: 100px;
}

#about_img {
  text-align: center;
}

#about_content {
  padding-right: 100px;
  margin-top: -15px;
}
