#about-body {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 60px;
}

#about-header {
  h1 {
    font-family: KosticSerif-Regular;
  }
  margin-left: -15px;
  padding: 50px 0px 50px 0px;
}

#about-left {
  background-image: url(asset_path('horowitz'));
  background-size: cover;
  height: 400px;
}
// #292f33 dark blue text
// #a2d5da light blue blocks

// red #f72e2a
// accompanying lighter color to red #f9eee9
// navy #011627
#about-right {
  background-color: #f9eee9;
  height: 400px;
  h4 {
    color: #292f33;
    margin: 20px;
    font-family: KosticSerif-Regular;
  }
}

#about-footer {
  border-top: 1px solid #f9eee9;
  height: 60px;
  p {
    color: #292f33;
  }
}
