/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar.navbar-default {
  background: none;
  border: 1px solid blue;
}

a {
  text-transform: uppercase;
  margin: 8px;
}

#welcome {
  border: 1px solid black;
  // background-image: url(asset_path('piano_hands'));
  padding: 20px;
  // margin-top: -70px;
}

#welcome .col-md-4 img {
  display:block;
  margin:auto;
}
