/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";
@import "contact.scss";
@import "about.scss";
@import "lessons.scss";
@import "music_ed.scss";

// teal #38d2a0
// pink #e6967e
// darker pink #a82a68
// blue #01c5f8
// light yellow #fff8a2
// darker yellow #ffcc2e
// orange #ff9f46
//
// red #f72e2a
// accompanying lighter color to red #f9eee9

// yellow #ffdf01
// black

// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks

.navbar.navbar-default {
  padding: 10px;
  margin: 0px;
  padding-right: 90px;
  background: none;
  border-bottom: 1px solid #f9eee9;

  a, p {
    text-transform: uppercase;
    margin: 8px;
    color: #f72e2a;
  }
  .navbar-right {
    padding-top: 10px;
  }
}
