#welcome {
  // background-image: url(asset_path('piano_hands'));
  padding: 30px 100px 30px 100px;
  text-align: center;
  margin-top: 20px;

  h2, h1 {
    color: #292f33;
    font-family: KosticSerif-Regular;
  }
}

#blocks {
  #left-block, #right-block {
    padding-top: 50px;
    height: 200px;
    h2 {
      text-transform: uppercase;
    }
  }
  #left-block {
    background-color: #292f33;
    h2 {
      color: white;
    }
  }
  #right-block {
    background-color: #a2d5da;
    h2 {
      color: white;
    }
  }
  text-align: center;
  padding: 20px 130px 20px 130px;
}

#home-block-2 {
  background-color: #f1f1f1;
  height: 400px;
}

#hb3-right {
  border: 1px solid #b5a2be; //purple
  height: 400px;
  margin-top: 20px;
}

#hb4-left {
  border: 1px solid #f5996d; //orange
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#welcome_footer {
  border-top: 1px solid #a2d5da;
  padding-bottom: 20px;
  height: 60px;
  p {
    color: #292f33;
  }
}

// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks
// #2a3033 dark grey
// #f5996d orange
// #65b8cd blue
// #b5a2be purple
// #d98dac pink
