#welcome {
  // background-image: url(asset_path('piano_hands'));
  padding: 30px 200px 30px 200px;
  text-align: center;
  margin-top: 20px;
  background-color: #f72e2a;

  h2, h1 {
    color: #f9eee9;
  }
}

#blocks {
  text-align: center;
  padding: 20px 180px 20px 180px;
  // background-color: #e9f9fc;

  .thumbnail {
    background: none;
    border-color: #f72e2a;
    height: 200px;
    padding-top: 50px;
    h2 {
      color: #f72e2a;
    }
  }
  .thumbnail:hover {
    text-decoration: none;
  }
}

#welcome_footer {
  background-color: #f72e2a;
  padding-bottom: 20px;
  p {
    color: #f9eee9;
  }
}
