#welcome-img {
  background-image: url(asset_path('piano_hands'));
  opacity: 0.35;
  background-size: cover;
  height: 600px;
}

#welcome-text {
  height: 600px;
  margin-top: -600px;
  padding: 100px 100px 30px 100px;
  text-align: center;
  h2, h1 {
    color: black;
    font-family: KosticSerif-Regular;
  }
}

#blocks {
  #left-block, #right-block {
    padding-top: 50px;
    height: 200px;
    h2 {
      text-transform: uppercase;
    }
  }
  #left-block {
    background-color: #292f33;
    h2 {
      color: white;
    }
  }
  #right-block {
    background-color: #a2d5da;
    h2 {
      color: white;
    }
  }
  text-align: center;
  padding: 20px 130px 20px 130px;
}

#home-block-2 {
  background-color: #f1f1f1;
  height: 400px;
  padding: 100px;
}

// #hb3-right {
//   background-color: #b5a2be; //purple
//   height: 400px;
//   margin-top: 20px;
//   background-size: cover;
//   text-align: center;
// }
//
// #hb3-left {
//   background-color: #f5996d;
//   text-align: center;
//   padding: 50px;
// }

// #hb4-left {
//   border: 1px solid #f5996d; //orange
//   height: 400px;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }
//
// #hb4-right {
//   text-align: center;
//   padding: 50px;
//   padding-top: 100px;
// }

#welcome_footer {
  border-top: 1px solid #a2d5da;
  padding: 20px;
  margin-top: 20px;
  p {
    color: #292f33;
  }
}

// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks
// #2a3033 dark grey
// #f5996d orange
// #65b8cd blue
// #b5a2be purple
// #d98dac pink
