#lessons-header {
  height: 400px;
  padding: 100px;
}

#lessons-footer {
  border-top: 1px solid #f5996d;
  padding: 20px;
  margin-top: 20px;
}

#lessons-block-2 {
  margin-top: -100px;
  padding-bottom: 20px;
}

#lb1-left, #lb2-right {
  height: 400px;
}

#lb1-left {
  background-color: #f5996d;
  h3 {
    color: white;
  }
}

#lb2-right {
  border: 2px solid #f5996d;
}
#lb2-left {
  padding-top: 200px;
}

#lesson-block-3 {
  background-color: #f1f1f1;
  height: 400px;
  padding: 100px;
}

// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks
// #2a3033 dark grey
// #f5996d orange
// #65b8cd blue
// #b5a2be purple
// #d98dac pink
