#music-ed-header {
  height: 400px;
  padding: 100px;
}

#music-ed-footer {
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #b5a2be;
}

#meb1-left, #meb1-right {
  height: 300px;
}

#meb1-left {
  background-color: #2a3033;
}
#meb1-right {
  border: 1px solid #2a3033;
}

#music-ed-block-2 {
  height: 400px;
  border: 1px solid #b5a2be;
}

// #b34035 electric pulp red
// #292f33 dark blue text
// #a2d5da light blue blocks
// #2a3033 dark grey
// #f5996d orange
// #65b8cd blue
// #b5a2be purple
// #d98dac pink
