<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid" id="nav">
    <div class="navbar-text navbar-left">
      <a href="#">about</a>
      <a href="#">lessons</a>
      <a href="#">early music education</a>
    </div>
  </div>
</nav>
